.registration{
  width: 100%;
  height:calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding:  40px;
}
.registration h1{
  font-size: 2.5rem;
  font-weight: 900;
}